.catBehavior {
    padding: 50px;
    border: 5px solid grey;
    color: black;
    font-size: large;
    font-family: monospace;
    background-color: #d9d9d9
    
    ;
}
.catpic{
    background-color: white;
    border: dotted thick black;
    position: absolute;
    top: 650px;
    left: 1600px;
    right: 50px;
    width: 200px;
    height: 100px;
}