

.navbar {
    overflow: auto;
    list-style-type: none;
    font-family:monospace ;
    font-size: x-large;
    display: flex;  
    justify-content: space-between;
    object-fit: cover;
  }
.logo {
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.navbar__link {
  color: white;

}
